<!DOCTYPE html>
<html lang="en">
	<head>
	 	<meta charset="utf-8">
	 	<title>To-Do List | Python Practice No. 3</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Loading page icon -->
		<link rel="shortcut icon" href="static/img/favicon.ico">

		<!-- Loading stylesheet -->
		<link href="static/css/style.css" rel="stylesheet">

		<!-- Loading Bootstrap -->		
		<link href="static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Loading Flat UI -->
		<link href="static/css/flat-ui.min.css" rel="stylesheet">
		<link href="static/css/style.css" rel="stylesheet">

		<!-- Loading External stylesheets -->
		<!--link href="http://html5demos.com/css/html5demos.css" rel="stylesheet"-->

		<!-- Loading External scripts -->
		<script src="http://html5demos.com/js/h5utils.js"></script>
	</head>
	<body>
		<br/>
 		<div class="container">		
			<div class="col-xs-3"></div>
			<div class="col-xs-6" style="background: white">
				<center>
					<h1 class="full-block" style="word-wrap:break-word;">TO-DO LIST</h1>
				</center>
				<form action="/add" method="POST" id="form-add-todo" class="form-add-todo" role="form">
		    		<!--label for="todo"></label-->
		    		<div class="input-group">
		    			<input type="text" id="new-todo-item"  class="form-control new-todo-item" name="todo" placeholder="What are you doing today?">
		    				<span class="input-group-btn">
								<button type="submit" id="add-todo-item" class="btn add-todo-item">
					  				<span class="fui-plus"></span>
					  			</button>
			 				</span>
		 			</div>
		  		</form>
	  			<table width=100% id="todo-list" class="todo-list">
	  				{% for row in rows %}
                        <tr>
                        	<td>
                            	<label class="checkbox">
                            		<input type="checkbox" data-toggle="checkbox" name="todo-item-done" class="custom-checkbox todo-item-done" id="checkbox">
                                    <span class="icons">
                                        <span class="icon-unchecked"></span>
                                        <span class="icon-checked"></span>
                                    </span>
                                    <span class="todo-text"></span>
                                    <span id ="edit">
	                                    <a style="font-size: 0px;">{{row["id"]}}</a>
                                        <a>{{row["task"]}}</a>
                                    </span>
                            </td>
                            <td align="right">
	                                <button type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#myModal">
	                                	<span class="fui-new"></span>
	                                </button>
	                                <center>
										<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  											<div class="modal-dialog" role="document">
    											<div class="modal-content">
      												<div class="modal-header">
        												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        												<h4 class="modal-title" id="myModalLabel"></h4>
      												</div>
      											<div class="modal-body">

      											</div>
      											<div class="modal-footer">
      												<form action="/edit" method="POST">							        
														<button type="submit" id="edit-todo-item" class="btn btn-success todo-item-edit" data-dismiss="modal">
						                                	SAVE
					                                	</button>
				                                	</form>
      											</div>
      										</div>
      									</div>
      								</div>

									<!-- the partial container -->

									<div class="thehide" id="partial_container">
										<form action="/edit" method="POST">	
    										<fieldset>
      											<div class="container-fluid">
        											<div class="row">
          												<div class="col-sm-12">
            												<div class="form-group">
            													<input type="hidden" class="form-control" id="edit-todo-item" name="editID" />
            													<input type="text" class="form-control" id="edit-todo-item" name="editTask" />
            												</div>
          												</div>
        											</div>
      											</div>
    										</fieldset>
    										<div class="divider"></div>
    									</form>
 									</div>
								</center>
	                        </td>
	                        <td align="right" width="30px">
	                                <form action="/delete/{{ row.id }}" method="POST">
										<button type="submit" id="delete-todo-item" class="btn btn-xs btn-danger todo-item-delete">
		                                	<span class="fui-cross"></span>
	                                	</button>
	                                </form>
	                            </label>
	                        </td>    
                        </tr>
                    {% endfor %}
		  			<!-- To-Do List input appears here -->
				</table>
				<center>
					<p class="palette-paragraph">
						<strong>
							Need help? <a href="/readme" >READ ME</a>
						</strong>
					</p>
				</center>
  			</div>
  			<div class="col-xs-3"></div>		
 		</div><!-- /.container -->
	 	<div class="container">
	 		<footer>
		    	<center>		    		
		    		<small>
		    			created and developed by <a href="https://mage-isdcs.slack.com" target="_blank">mage-isdcs</a>
		    		</small>
		    	</center>  	
		  	</footer>
		</div>
	</body>
	<!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
	<script src="static/js/vendor/jquery.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="static/js/vendor/video.js"></script>
	<script src="static/js/flat-ui.min.js"></script>

	<!-- Loading external scripts -->
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script type="text/javascript">
		$(':checkbox').radiocheck();
	</script>
	<script type="text/javascript">
		function addTodoItem() {
			var todoItem = $("#new-todo-item").val();
	        $.ajax({
	            url: '/add',
	            data: $('form').serialize(),
	            type: 'POST',
	            success: function(response) {
	                console.log(response);
	            },
	            error: function(error) {
	                console.log(error);
	            }
	        });

		   	$("#todo-list").append("<tr>" +
			  		"<td>" +
			  			"<label class=\"checkbox\">" +
			  				"<input type=\"checkbox\" data-toggle=\"checkbox\" name=\"todo-item-done\" class=\"custom-checkbox todo-item-done\" id=\"checkbox\" value=\"" + todoItem + "\"/>" +
							"<span class=\"icons\">" +
								"<span class=\"icon-unchecked\"></span>" +
								"<span class=\"icon-checked\"></span>" +
							"</span>" +
							"<span class=\"todo-text\"></span>" +
							"<span id =\"edit\"><a>" + todoItem + "</a></span>" +
			  		"</td>" +
			  		"<td align=\"right\">" +
			  			"<button type=\"button\" class=\"btn btn-xs btn-info\" data-toggle=\"modal\" data-target=\"#myModal\">" +
                        	"<span class=\"fui-new\"></span>" +
			  			"</button>" +
			  		"</td>" +
			  		"<td align=\"right\" width=\"30px\">" +
			  			"<form action=\"/delete/<postID>\" method=\"POST\">" +
							"<button type=\"submit\" id=\"delete-todo-item\" class=\"btn btn-xs btn-danger todo-item-delete\">" +
	                        	"<span class=\"fui-cross\"></span>" +
	                    	"</button>" +
	                    "</form>" +
			  			"</label>" +
			  		"</td>" +
		  		"</tr>");
		  $("#new-todo-item").val("");
		}

		function editTodoItem() {
			$(item).closest("tr").fadeOut('slow', function() {
		    	$("#edit-todo-item").click(function() {
				    var form = $('<form action="/edit" method="POST"></form>');
					form.submit();
				});
		  	})
		}

		function deleteTodoItem(e, item) {
			$("#delete-todo-item").val();

		  	//e.preventDefault();
		  	$(item).closest("tr").fadeOut('slow', function() { 
		    	$(item).closest("tr").remove();
		    	$("#delete-todo-item").click(function() {
			        var form = $('<form action="/delete/' + this.dataset.id + '" method="POST"></form>');
			        form.submit();
			    });
		  	})		  	
		}

		function completeTodoItem() {  
		  $(this).parent().toggleClass("strike");
		}

		$(function() {		 
			$("#add-todo-item").on('click', function(e){
			    e.preventDefault();
			    addTodoItem()
			});

			$("#todo-list").on('click', '.todo-item-delete', function(e){
			   var item = this; 
			   deleteTodoItem(e, item)
			})
			
			$(document).on('click', ".todo-item-done", completeTodoItem)
		});

		$(document).ready(function(){
  			$(".thehide").hide();
  			$(document).on("click", "table button", function(){
			    $("#trigger_modal").trigger("click");
			    $("#myModal .modal-title").html("Edit Task");
			    $("#myModal .modal-body").html($("#partial_container").html());
			    $('#myModal input[name="editID"]').val($(this).closest("tr").find("a:nth-child(1)").text());
			    $('#myModal input[name="editTask"]').val($(this).closest("tr").find("a:nth-child(2)").text());
	  		});  
		});
	</script>
</html>